{{#owner}}
  <section class="banner">
    <form id="composeGab" action="/create" method="post">
      <textarea name="content" placeholder="What are you gabbing about?"></textarea>
      <button type="submit" name="button">Gab</button>
    </form>
  </section>
{{/owner}}

<section id="profileContainer">
  <div id="userProfile">
    <aside class="gab">
      {{#data}}
        <form class="editProfile" action="/{{username}}/edit" method="post">
          <input type="text" name="name" value="{{name}}" placeholder="Display name">
          <h4>@{{username}}</h4>
          <textarea class="p" name="bio" placeholder="Bio">{{bio}}</textarea>
          <label for="location"><i class="material-icons">location_on</i></label>
          <input type="text" name="location" value="{{location}}" placeholder="Location">
          <p><a href="/{{username}}"><i class="material-icons">undo</i> Undo</a></p>
          <button type="submit" name="editProfile"><i class="material-icons">save</i>Save</button>
        </form>
      {{/data}}
    </aside>
  </div>

  <main id="feedContainer">
    {{#posts}}
      {{#.}}
        <article class="gab">
          <header>
            {{#data}}
            <a class="avatar" href="/{{username}}"><i class="material-icons amber">account_circle</i></a>
            <a class="username" href="/{{username}}">{{name}}</a>
            {{/data}}
          </header>
          <main>
            {{content}}
          </main>
          <footer>
            <div>
              <a class="clock-button" href="/gab/{{id}}"><i class="material-icons">schedule</i></a>
              <a href="/gab/{{id}}">{{createdAt}}</a>
            </div>
            <div>
              <a class="like-button" href="/like/{{id}}"><i class="material-icons">star_border</i></a>
              <p>{{likeCount}}</p>
            </div>
          </footer>
        </article>
      {{/.}}
    {{/posts}}
  </main>
</section>
