{{#data}}
  {{#dataValues}}
    {{#.}}
      <div class="gab">
        <p>{{content}}</p>
        <p><a href="/gab/{{id}}">{{createdAt}}</a></p>
        {{#delete}}
          <p><a href="/delete/{{id}}"><i class="material-icons">delete</i></a></p>
        {{/delete}}
      </div>
      {{#users}}
        {{#.}}
          {{name}}<br>
        {{/.}}
      {{/users}}
    {{/.}}
  {{/dataValues}}
{{/data}}
