<main id="feedContainer">
  {{#data}}
    {{#dataValues}}
      {{#.}}
        <article class="gab">
          <header>
            <a class="avatar" href="/{{user.username}}"><i class="material-icons amber">account_circle</i></a>
            <a class="username" href="/{{user.username}}">{{user.name}}</a>
          </header>
          <main>
            {{content}}
          </main>
          <footer>
            <div>
              <a class="clock-button" href="/gab/{{id}}"><i class="material-icons">schedule</i></a>
              <a href="/gab/{{id}}">{{createdAt}}</a>
            </div>
            <div>
              <a class="like-button" href="/like/{{id}}"><i class="material-icons">star_border</i></a>
              <p>{{likes.length}}</p>
              {{#delete}}
                <a href="/delete/{{id}}"><i class="material-icons">delete</i></a>
              {{/delete}}
            </div>
          </footer>
        </article>
      {{/.}}
    {{/dataValues}}
  {{/data}}
    <div class="likedBy">
      <h4>Liked by</h4>
      <ul>
        {{#users}}
          <li>
            <a class="avatar" href="/{{username}}"><i class="material-icons amber">account_circle</i></a>
            <a class="username" href="/{{username}}">{{name}}</a>
          </li>
        {{/users}}
        {{^users}}
          <p>No one (yet!)</p>
        {{/users}}
      </ul>
    </div>
</main>
