<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble</title>
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo|Open+Sans:300,400,400i,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.png">
  </head>
  <body>
    <div class="container">
      <header id="siteHeader">
        <a href="/feed"><h1 id="logo">Gabber</h1></a>
        <nav id="mainNav">
          {{#user}}
            <a href="/{{username}}">Profile</a>
            <a href="/logout">Logout</a>
          {{/user}}
          {{^user}}
            <a href="/login">Login</a>
          {{/user}}
        </nav>
      </header>
      {{{yield}}}
    </div>
  </body>
</html>
