<section class="photoContainer">
  <section class="colorContainer">
    <section class="loginContainer">
      <h1>Join the conversation</h1>
      <form class="login" action="/" method="post">
        <input type="text" name="username" value="" placeholder="Username" autofocus>
        <input type="password" name="password" value="" placeholder="Password">
        <button type="submit" name="button">Login</button>
      </form>
      <p class="loginAlt">Don't have an account? <a href="/signup">Sign up!</a></p>
      {{#messages.error}}
        <div class="errorMessages">
          <p>{{.}}</p>
        </div>
      {{/messages.error}}
    </section>
  </section>
</section>
