{{#owner}}
  <section class="banner">
    <form id="composeGab" action="/create" method="post">
      <textarea name="content" placeholder="What are you gabbing about?" maxlength="140"></textarea>
      <button type="submit" name="button">Gab</button>
    </form>
  </section>
{{/owner}}

<section id="profileContainer">
  <div id="userProfile">
    <aside class="gab">
      {{#data}}
        <h3>{{name}}</h3>
        <h4>@{{username}}</h4>
        {{#bio}}
          <p>{{bio}}</p>
        {{/bio}}
        {{#location}}
          <p><i class="material-icons">location_on</i>{{location}}</p>
        {{/location}}
        {{#owner}}
          <a class="align-center" href="/{{username}}/edit"><i class="material-icons">edit</i>Edit profile</a>
        {{/owner}}
      {{/data}}
    </aside>
  </div>

  <main id="feedContainer">
    {{#posts}}
      {{#.}}
        <article class="gab">
          <header>
            {{#data}}
            <a class="avatar" href="/{{username}}"><i class="material-icons amber">account_circle</i></a>
            <a class="username" href="/{{username}}">{{name}}</a>
            {{/data}}
          </header>
          <main>
            {{content}}
          </main>
          <footer>
            <div>
              <a class="clock-button" href="/gab/{{id}}"><i class="material-icons">schedule</i></a>
              <a href="/gab/{{id}}">{{createdAt}}</a>
            </div>
            <div>
              <a class="like-button" href="/like/{{id}}"><i class="material-icons">star_border</i></a>
              <p>{{likeCount}}</p>
            </div>
          </footer>
        </article>
      {{/.}}
    {{/posts}}
  </main>
</section>
