<form class="" action="/signup" method="post">
  <input type="text" name="name" value="" placeholder="Name">
  <input type="text" name="username" value="" placeholder="Username">
  <input type="password" name="password" value="" placeholder="Password">
  <input type="password" name="confirm" value="" placeholder="Confirm password">
  <button type="submit" name="button">Sign Up</button>
</form>
