<section class="banner">
  <form id="composeGab" action="/create" method="post">
    <textarea name="content" placeholder="What are you gabbing about?"></textarea>
    <button type="submit" name="button">Gab</button>
  </form>
</section>

<main id="feedContainer">
  {{#data}}
    {{#.}}
      <article class="gab">
        <header>
          <a class="avatar" href="/{{user.username}}"><i class="material-icons amber">account_circle</i></a>
          <a class="username" href="/{{user.username}}">{{user.name}}</a>
        </header>
        <main>
          {{content}}
        </main>
        <footer>
          <a href="/gab/{{id}}">{{createdAt}}</a>
          <div class="likesContainer">
            <a href="/like/{{id}}"><i class="material-icons">star_border</i></a>
            <p>{{likes.length}}</p>
          </div>
        </footer>
      </article>
    {{/.}}
  {{/data}}
</main>
