{{username}}
<form action="/create" method="post">
  <textarea name="content" rows="8" cols="80"></textarea>
  <button type="submit" name="button">Gab</button>
</form>

{{#data}}
  {{#dataValues}}
    {{#.}}
      <div class="gab">
        <p><i class="material-icons">account_circle</i> {{userId}} (userId)</p>
        <p>{{content}}</p>
        <p><a href="/gab/{{id}}">{{createdAt}}</a></p>
      </div>
    {{/.}}
  {{/dataValues}}
{{/data}}
