{{username}}
<form action="/create" method="post">
  <textarea name="content" rows="8" cols="80"></textarea>
  <button type="submit" name="button">Gab</button>
</form>

{{#data}}
  {{#dataValues}}
    {{#.}}
      <div class="gab">
        <p><i class="material-icons amber">account_circle</i> {{user.name}} (user.name)</p>
        <p>{{content}}</p>
        <p><a href="/gab/{{id}}">{{createdAt}}</a> | <a href="/like/{{id}}"><i class="material-icons">star_border</i>{{likes.length}}</a></p>
      </div>
    {{/.}}
  {{/dataValues}}
{{/data}}
