a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* BEGIN STYLES */
body {
  background: #FAFAFA;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
a {
  color: #FF8F00;
  text-decoration: none;
}
a:active, a:hover {
  color: #FFA000;
}
#siteHeader {
  align-items: center;
  background: linear-gradient(#FF8F00, #FFA000);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px;
  z-index: 10;
}
#logo {
  color: white;
  font-family: 'Baloo Tammudu', cursive;
  font-size: 2em;
  margin-bottom: -14px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
#mainNav {
  display: flex;
  flex: 1 50%;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
#mainNav a {
  border-radius: 3px;
  color: white;
  margin: 0 10px;
  padding: 5px;
  text-decoration: none;
}
#mainNav a:hover, #mainNav a:active {
  background: rgba(0, 0, 0, 0.05);
}
.banner {
  background: #FFF8E1;
  border-bottom: 1px solid #FFE082;
  padding-top: 10px;
  width: 100%;
}
#composeGab {
  background: #FFF8E1;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin: 0 auto 20px;
  max-width: 700px;
  width: 100%;
}
#composeGab > * {
  margin: 10px 20px 0;
}
#composeGab textarea {
  background: white;
  border: 1px solid #FFE082;
  border-radius: 4px;
  flex: 1 90%;
  font-size: 1.5em;
  padding: 10px;
}
#composeGab button {
  background: #FFC107;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 1em;
  font-weight: 600;
  max-width: 100px;
  padding: 10px 20px;
}
#composeGab button:hover, #composeGab button:active {
  background: linear-gradient(#FF8F00, #FFA000);
}
#feedContainer {
  margin: 0 auto;
  max-width: 700px;
  padding: 0 0 20px;
  width: 100%;
}
.gab {
  background: white;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.15);
  margin: 20px;
  padding: 20px;
}
.gab header {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}
.gab main {
  font-size: 1.5em;
  line-height: 125%;
  padding: 20px 0;
}
.avatar {
  color: #FF8F00;
  margin-right: 5px;
}
.username {
  font-weight: 600;
  text-decoration: none;
}
.gab footer {
  align-items: center;
  border-top: 1px solid #EEEEEE;
  color: #999;
  display: flex;
  flex-flow: row nowrap;
  padding-top: 20px;
}
.gab footer div {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  font-size: 0.9em;
  margin-right: 10px;
}
.gab footer a {
  color: #999;
  margin-right: 10px;
}
.gab textarea {
  resize: none;
}
.like-button:hover, .like-button:active {
  color: #FFC400;
}
.gab footer a.delete-button {
  flex: 1 20%;
  margin-right: 0;
  text-align: right;
}
.delete-button:hover, .delete-button:active {
  color: red
}

.likedBy {
  background: #FFF8E1;
  border: 1px solid #FFE082;
  border-radius: 2px;
  margin: 10px 40px;
}
.likedBy > * {
  margin: 10px;
}
.likedBy li {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}

/*********************
  User Profile
*********************/

#profileContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
#userProfile {
  min-width: 250px;
  width: 30%;
}
aside.gab {
  margin-right: 0;
}
#userProfile h3, input[name="name"] {
  font-size: 1.5em;
  padding-bottom: 5px;
}
#userProfile i {
  margin-right: 5px;
}
#userProfile p, textarea[name="bio"] {
  margin: 10px 0;
  line-height: 125%;
}
#userProfile li {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 15px;
}
.align-center {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}

/*********************
  Edit profile
*********************/

.editProfile {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.editProfile input, .editProfile textarea {
  background: #f1f1f1;
  color: #333;
  padding: 0;
}
.editProfile * {
  border: none;
  font-family: 'Open Sans';
  font-size: 1em;
}
input[name="name"] {
  flex: 1 100%;
}
textarea[name="bio"] {
  flex: 1 100%;
  font-size: 1em;
}
input[name="location"] {
  flex: 1 70%;
}
button[name="editProfile"] {
  background: none;
  color: #FF8F00;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}
button[name="editProfile"]:hover, button[name="editProfile"]:active  {
  color: #FFA000
}
.editProfile a {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}

/*********************
  Login and Sign up
*********************/

.photoContainer {
  background: url('/img/background.jpg') center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.colorContainer {
  background: rgba(255, 111, 0, 0.5);
  height: 100vh;
  width: 100%:
}
.loginContainer {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}
.loginContainer h1 {
  color: white;
  font-size: 3em;
  font-style: italic;
  padding: 40px 0;
  text-align: center;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}
.login {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
.login * {
  font-size: 1em;
}
.login input, .login button {
  border: 0;
  border-radius: 3px;
  margin: 0 10px 10px;
  opacity: 0.8;
  padding: 15px;
}
.login input:hover, .login input:active {
  opacity: 1;
}
.login button, .login button:visited {
  background: #FF6F00;
  color: white;
  font-weight: 600;
}
.login button:hover, .login button:active {
  background: #FF8F00;
  opacity: 1;
}
.loginAlt {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  color: white;
  margin: 10px 10px 0;
  padding: 10px;
  text-align: center;
}

.loginContainer h2 {
  color: #FF8F00;
  font-size: 2em;
  font-style: italic;
  padding: 40px 0;
  text-align: center;
}
.signup input {
  border: 1px solid #EEEEEE;
  opacity: 1;
}
.signupAlt {
  margin: 10px 10px 0;
  padding: 10px;
  text-align: center;
}
